{% extends "layout.html" %}
{% block body %}
<div class="group-list">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">日付</th>
                <th scope="col">共通点</th>
                <th scope="col">場所</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for group in groups %}
            <tr class="{% if group.completed %}bg-secondary{% endif%}">
                <td>{{ group.date }}</td>
                <td>{{ group.hobby }}</td>
                <td>{{ group.place }}</td>
                <td><a href="{{url_for('group.show_group', uuid = group.id)}}">詳細</a></td>
            </tr>
            {% else %}
            <tr>
                グループがありません
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>
{% endblock %}
