{% extends "layout.html" %}
{% block body %}
<div class="group-list">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">日付</th>
                <th scope="col">共通点</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{group.date}}</td>
                <td>{{group.hobby}}</td>
            </tr>
        </tbody>
    </table>
    <div class="group-member row mt-4">
        <div class="col-md-8">
            <div class="group-list bg-color pad100">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="section-title text-center">
                                <div class="title-text">
                                    <h4>メンバー</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade active show" id="home" role="tabpanel">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th class="text-center" scope="col">#</th>
                                                    <th scope="col">アイコン</th>
                                                    <th scope="col">名前</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% set iterator = 0 %}
                                                {% for user in users %}
                                                    {% set iterator = iterator + 1 %}
                                                    <tr class="inner-box">
                                                        <th scope="row">
                                                            <div class="user-order">
                                                                <span>{{ loop.index }}</span>
                                                            </div>
                                                        </th>
                                                        <td>
                                                            <div class="user-img">
                                                                <img src="{{ user.icon }}" alt="user_avatar" />
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="user-wrap">
                                                                <h3><a href="{{url_for('user.user_profile', id = user.id)}}">{{ user.name }}</a></h3>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <a href="{{url_for('group.show_chat',uuid = group.uuid)}}" class="alert-link">
                <div class="alert alert-primary text-center" role="alert">
                    チャットを開く
                </div>
            </a>
            {% if not group.completed %}
            <a href="{{url_for('group.complete_group',uuid = group.uuid)}}" class="alert-link">
                <div class="alert alert-success text-center mt-3" role="alert">
                    話せた！
                </div>
            </a>
            {% endif%}
        </div>
    </div>
</div>
{% endblock %}
