{% extends "layout.html" %} {% block body %}
<div class="wrapper">
    <div class="row mt-1">
        <div class="col">
            <a href="{{url_for('schedule.show_calender', date = prev ) }}" class="btn btn-primary"
                role="button">{{prev}}</a>
        </div>
        <div class="col text-center">
            <h1>{{year}}年{{month}}月</h1>
        </div>
        <div class="col text-right">
            <a href="{{url_for('schedule.show_calender', date = today ) }}" class="btn btn-primary"
                role="button">今月に戻る</a>
        </div>
        <div class="col text-right">
            <a href="{{url_for('schedule.show_calender', date = next ) }}" class="btn btn-primary"
                role="button">{{next}}</a>
        </div>
    </div>

    <div id="calendar">

        <table class="table table-bordered">

            {% for num in range(0,7) %}
            {% if num != 0 %}
            <th>{{day_list[num]}}</th>
            {%else %}
            <th class="text-danger"> {{day_list[num]}}</th>
            {%endif%}
            {% endfor%}
            </tr>
            {% if first_date == 0%}
            {% for num in range(1,8)%}
            {% if schedule_list[num-1] == 2%}
            <div class="position-relative">
                <th class="btn-info "> <a class="text-white d-lg-block"
                        href="{{url_for('group.show_group',uuid = group_list[num-1])}}">{{num}}</a>
                </th>
            </div>
            {%elif (today_year == year and today_month == month) and day >= num %}
            <div class="position-relative">
                <th class="btn-secondary "> <a class="text-white  d-lg-block"
                        href="{{url_for('schedule.user_schedule',year_month = now,day =  num)}}">{{num}}</a> </th>

            </div>


            {%elif today_year > year %}
            <th class="btn-secondary"> <a class="text-white d-lg-block "
                    href="{{url_for('schedule.user_schedule',year_month = now,day =  num)}}">{{num}}</a> </th>
            {%elif (today_year == year and today_month >month) %}
            <th class="btn-secondary "> <a class="text-white d-lg-block"
                    href="{{url_for('schedule.user_schedule',year_month = now,day =  num)}}">{{num}}</a> </th>
            {% elif schedule_list[num-1] == 1%}
            <div class="position-relative">
                <th class="btn-success "> <a class="text-white  d-lg-block"
                        href="{{url_for('schedule.delete_user_schedule',month = now,date =  num)}}">{{num}}</a>
                </th>
            </div>

            {% else %}
            <th><a class="text-dark d-lg-block "
                    href="{{url_for('schedule.user_schedule',year_month = now,day =  num)}}">
                    {{num}}</a></th>
            {% endif%}
            {%endfor%}
            {%else%}
            {% for num in range(0,7)%}
            {% if num + first_date > prev_max_day%}
            {% if schedule_list[num + first_date - prev_max_day-1] == 2%}
            <div class="position-relative">
                <th class="btn-info "> <a class="text-white d-lg-block"
                        href="{{url_for('group.show_group',uuid = group_list[num + first_date - prev_max_day-1])}}">{{num
                        + first_date - prev_max_day}}</a>
                </th>
            </div>
            {%elif (today_year == year and today_month == month) and day >= num %}
            <div class="position-relative">
                <th class="btn-secondary "> <a class="text-white  d-lg-block"
                        href="{{url_for('schedule.user_schedule',year_month = now,day =  num + first_date - prev_max_day)}}">{{num
                        + first_date - prev_max_day}}</a> </th>

            </div>


            {%elif today_year > year %}
            <th class="btn-secondary"> <a class="text-white d-lg-block "
                    href="{{url_for('schedule.user_schedule',year_month = now,day =  num + first_date - prev_max_day)}}">{{num
                    + first_date - prev_max_day}}</a> </th>
            {%elif (today_year == year and today_month >month) %}
            <th class="btn-secondary "> <a class="text-white d-lg-block"
                    href="{{url_for('schedule.user_schedule',year_month = now,day =  num + first_date - prev_max_day)}}">{{num
                    + first_date - prev_max_day}}</a> </th>
            {% elif schedule_list[num + first_date - prev_max_day-1] == 1%}
            <div class="position-relative">
                <th class="btn-success "> <a class="text-white  d-lg-block"
                        href="{{url_for('schedule.delete_user_schedule',month = now,date =  num + first_date - prev_max_day)}}">{{num
                        + first_date - prev_max_day}}</a>
                </th>
            </div>

            {% else %}
            <th><a class="text-dark d-lg-block "
                    href="{{url_for('schedule.user_schedule',year_month = now,day =  num + first_date - prev_max_day)}}">
                    {{num + first_date - prev_max_day}}</a></th>
            {% endif%}

            {%else%}


            <div class="position-relative">
                <th class="btn-dark disabled "><a class="text-white">{{num + first_date}}</a> </th>

            </div>



            {%endif%}
            {% endfor%}
            {%endif%}
            </tr>

            {% for num in range(first_date_Sat +1,max_day+1)%}
            {% if num % 7 == first_date_mon %} <tr class="DayOfWeek">
                {% endif %}
                {% if schedule_list[num-1] == 2%}
                <div class="position-relative">
                    <th class="btn-info "> <a class="text-white d-lg-block"
                            href="{{url_for('group.show_group',uuid = group_list[num-1])}}">{{num}}</a>
                    </th>
                </div>
                {%elif (today_year == year and today_month == month) and day >= num %}
                <div class="position-relative">
                    <th class="btn-secondary "> <a class="text-white  d-lg-block"
                            href="{{url_for('schedule.user_schedule',year_month = now,day =  num)}}">{{num}}</a> </th>

                </div>


                {%elif today_year > year %}
                <th class="btn-secondary"> <a class="text-white d-lg-block "
                        href="{{url_for('schedule.user_schedule',year_month = now,day =  num)}}">{{num}}</a> </th>
                {%elif (today_year == year and today_month >month) %}
                <th class="btn-secondary "> <a class="text-white d-lg-block"
                        href="{{url_for('schedule.user_schedule',year_month = now,day =  num)}}">{{num}}</a> </th>
                {% elif schedule_list[num-1] == 1%}
                <div class="position-relative">
                    <th class="btn-success "> <a class="text-white  d-lg-block"
                            href="{{url_for('schedule.delete_user_schedule',month = now,date =  num)}}">{{num}}</a>
                    </th>
                </div>

                {% else %}
                <th><a class="text-dark d-lg-block "
                        href="{{url_for('schedule.user_schedule',year_month = now,day =  num)}}">
                        {{num}}</a></th>
                {% endif%}

                {% if num % 7 == first_date_Sat %}
            </tr>

            {% endif %}
            {% endfor %}
        </table>
        <h9>今日は{{today_year}}年{{today_month}}月{{day}}日</h9>
    </div>


</div>
{% endblock %}