{% extends "layout.html" %}
{% block body %}
<div class="profile-body">
    <div class="row mt-3">
        <form id="user_form" action="{{ url_for('user.update_user') }}" class="row col-md-12" method="POST">
            <div class="col-md-6">
                <div class="text-center">
                    <img id="avatar" src="{{ user.icon }}" class="avatar rounded-circle img-thumbnail" alt="avatar">
                    {% if user.id == current_user.id %}
                    <h6>Upload a different photo...</h6>
                    <input type="text" id="image" name=icon style="display:none;" value="{{ user.icon }}"></p>
                    <input id="my_file" type="file" class="d-none" />
                    {% endif %}
                </div>
            </div>
            <div class="col-md-6">
                <div class="profile">
                    <h4 class="text-uppercase fw-weight-bold mb-2">レベル {{ user.level }}</h4>
                    {% if user.id == current_user.id %}
                    <input type="text" name=name class="form-control" value="{{ user.name }}">
                    {% else %}
                    <span>{{ user.name }}</span>
                    {% endif %}
                </div>
            </div>
        </form>

        <div class="hobby col-md-12">
            <div class="hobby-title">
                <div style="font-size: 25px; color: #535a60; margin-left:5px"></div>
            </div>
            <!-- CHECKBOX LIST -->
            <div class="card rounded border-0 shadow-sm position-relative">
                <div class="card-body p-5 row">
                    <div class="col-md-8">
                        <div class="align-items-center pb-4 border-bottom">
                            <div class="ms-3">
                                <h4 class="text-uppercase fw-weight-bold mb-0">趣味</h4>
                            </div>
                        </div>
                        <form id="hobby_form" action="{{ url_for('user.add_hobby') }}" method="POST">
                            {% for hobby in user_hobbies %}
                            <div class="form-check mt-3 mb-2 hobby_list">
                                {% if user.id == current_user.id %}
                                <input class="form-check-input" name="hobby_checkBox" id="flexCheck1_{{ hobby.id }}"
                                    type="checkbox" value="{{ hobby.id }}">
                                {% endif %}
                                <label class="form-check-label" for="flexCheck1_{{ hobby.id }}"><span
                                        class="fst-italic pl-1">{{ hobby.type }}</span></label>
                            </div>
                            {% else %}
                            <span class="mt-3">趣味がありません。</span>
                            {% endfor %}
                            {% if user.id == current_user.id %}
                            <div class="mt-4 d-flex">
                                <div class="add_new align-middle">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                                        class="bi bi-plus" viewBox="0 0 16 16">
                                        <path
                                            d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                                    </svg>
                                </div>
                                <select class="form-control" id="hobby" name=hobby type="text">
                                    <option value="">趣味を追加する</option>
                                    {% for hobby in hobbies %}
                                    <option value="{{ hobby.id }}">{{ hobby.type }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <button id="delete_hobby" type="button"
                                class="mt-2 float-right btn btn-danger">チェックがついている項目を削除</button>
                            {% endif %}
                        </form>
                    </div>
                    <div class="col-md-4 text-center edit-button">
                        {% if user.id == current_user.id %}
                        <button id="update_button" type="submit" class="btn btn-primary">更新</button>
                        {% endif %}
                    </div>
                </div>
                <div class="card-body p-5 row">
                    <div class="col-md-12 d-flex align-items-center mb-4 pb-4 border-bottom"><i
                            class="far fa-calendar-alt fa-3x"></i>
                        <div class="ms-3">
                            <h4 class="text-uppercase fw-weight-bold mb-0">実績</h4>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <canvas id="doughnutChart"></canvas>
                    </div>
                    <div class="col-md-4">
                        <div class="list">
                            <input id="user_achievements" value="{{ user_achievements|length }}" class="d-none">
                            <h5>達成済み</h5>
                            <ul>
                                {% for achievement in user_achievements %}
                                <li>{{ achievement.name }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="list">
                            <input id="other_achievements" value="{{ other_achievements|length }}" class="d-none">
                            <h5>未達成</h5>
                            <ul>
                                {% for achievement in other_achievements %}
                                <li>{{ achievement.name }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
